{{ define "imageViewer" }}
<div class="image-viewer">
    <div class="aside">
        {{ range $index, $url := .ImageUrls }}
        <img loading="lazy" src='{{ $url }}' alt="Thumbnail {{ $index }}" />
        {{ end }}
    </div>

    <div class="selected">
        <img loading="lazy" src='{{ index .ImageUrls 0 }}' alt="Selected Image" />
    </div>
</div>
{{ end }}
