
{{ define "content" }}
<div class="browse">
    <span>Browse {{ .Title }}</span>
    <div class="grid">
        {{ range .Data.Cards }}
        {{ template "card" .}}
        {{ end }}
    </div>
    {{ template "pageination" .Data.Pagination }}
</div>
{{ end }}