{{ define "content" }}
<h1>{{ .Title }}</h1>
<div class="d-flex flex-wrap gap-3">
    {{ range .Data.Cards }}
    <div class="col-md-3 d-flex justify-content-center">
        {{ template "card" . }}
    </div>
    {{ end }}
</div>
{{ template "pageination" .Data.Pagination }}
{{ end }}